{{>header}}

<main class = "grid">

  <section class="container">
    
    <section>
      <section>
        <h2>Welkom, {{user.username}}</h2>
        <p>Hier kun je je account aanpassen en verwijderen, daarnaast kun je ook uitloggen.</p>
      </section>
    
      <form action="/update" method="POST" id="formaccount">
        <fieldset>
          <legend>Het account van {{user.name}}</legend>
          <label for="name">Naam</label>
          <input type="text" name="name" id="name" value="{{user.name}}">
          <p class="messagename">Er is geen naam ingevuld.</p>
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" value="{{user.email}}">
          <p class="messageemail">Er is geen geldig emailadres ingevuld.</p>
          <label for="password">Wachtwoord</label>
          <input type="password" name="password" id="password">
          <label for="confirm_password">Herhaal wachtwoord</label>
          <input type="password" name="confirm_password" id="confirm_password">
          <p class="messagepassword">Het wachtwoord dat is ingevuld is niet hetzelfde.</p>
          <input type="submit" value="Opslaan" id="opslaan">
        </fieldset> 
      </form>
    
      <section class ="naastelkaar">
        
        <form action="/logout"  method='get'>
          <button type="submit" >Uitloggen</button>
        </form>

        <form action="/"  method='POST'>
          <input class="hide" name="delete" type="'hidden" value="{{user.username}}" />
          <button type="submit" >Verwijder Account</button>
        </form>

      </section>
    </section>
    
  </section>
 
</main>

