{{#each data}}

<section>

    <img src={{this.imgSrc}} alt="foto van boek" />
    <article>
        <h2>{{this.titel}}</h2>
        <h3>{{this.auteur}}</h3>
        <p>{{this.genre}}</p>
        <p>{{this.taal}}</p>
        <p>{{this.samenvatting}}</p>
    </article>

    {{/each}}


</section>

{{> footer}}