<main id="filter">
    <h1>Filteren</h1>
    <section>
        <form id="filter" action="/formulier" , method="POST">
            <h3 id="errorFilteren"></h3>
            <input type="radio" name="genre" value="Thriller" id="thriller" required>
            <label for="thriller"> Thriller</label>

            <input type="radio" name="genre" value="Mystery" id="mystery">
            <label for="mystery"> Mystery</label>

            <input type="radio" name="genre" value="Young Adult" id="young-adult">
            <label for="young-adult"> Young Adult</label>

            <input type="radio" name="genre" value="Romance" id="romance">
            <label for="romance"> Romance</label>

            <button type="submit"> Filter</button>
        </form>
    </section>

    <section>
        {{#each data}}

        <section>
            <img src={{this.imgSrc}} alt="foto van boek" />
            <article>
                <h2>{{this.titel}}</h2>
                <h3>{{this.auteur}}</h3>
                <p>{{this.genre}}</p>
                <p>{{this.taal}}</p>
                <p>{{this.samenvatting}}</p>
            </article>

            <form id="like" action="/like" , method="POST">
                <input type="button" class="fa-solid fa-check">
            </form>

        </section>




        {{/each}}
    </section>

</main>

{{>footer}}