<main>
    <h1>Filteren</h1>
    <form id="filter" action="/formulier", method="POST">
        <input type="radio" name="genre" value="Thriller" id="thriller" required>
        <label for="thriller"> Thriller</label>

        <input type="radio" name="genre" value="Mystery" id="mystery">
        <label for="mystery"> Mystery</label>

        <input type="radio" name="genre" value="Young Adult" id="young-adult">
        <label for="young-adult"> Young Adult</label>
    
        <input type="radio" name="genre" value="Romance" id="romance">
        <label for="romance"> Romance</label>

        <button type="submit"> Filter</button>
    </form>

    {{#each boeken}}
    <div>
        <img src={{this.imgSrc}} alt="foto van boek"/>
        <h2>{{this.titel}}, {{this.auteur}}</h2>
        <p>{{this.genre}}</p>
        <p>{{this.taal}}</p>
    </div>
    {{/each}}

    <script src="js/script.js"></script>
</body>

 {{>footer}}   